# Ignore Python cache
__pycache__/
*.pyc

# Ignore data and database
*.csv
*.db
*.sqlite
db/trading_bot.db
database/datas
*.log
*.json
*.yaml
*.yml
access_token.txt

# Ignore virtual environments
venv/
.env/
db/trading_bot.db 

#Ignore api keys : 
config/secrets.yaml 